<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.user.UserMapper">
	
	<select id="login" resultType="kr.co.dong.user.UserVO">
		select * from users where email=#{email} and password=#{password}
	</select>
	<select id="selectOne" parameterType="int" resultType="kr.co.dong.user.UserVO">
		select * from users where users_id=#{users_id}
	</select>
	<insert id="insert" parameterType="kr.co.dong.user.UserVO">
		INSERT INTO users (email, password, name, phone, address, role, created_at)
		VALUES (#{email}, #{password}, #{name}, #{phone}, #{address}, 'user', now())
	</insert>
	<update id="update" parameterType="kr.co.dong.user.UserVO">
		UPDATE users
		SET name=#{name}, phone=#{phone}, address=#{address}
		WHERE users_id=#{users_id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM users WHERE users_id=#{users_id}
	</delete>
	
</mapper>